<link rel="stylesheet" type="text/css" href="stylesheets/bottom-bar.css">

    <div id='bottom_bar' class='disable_selection' tabindex="1">
      <!-- <div class='current_time'></div>
      <div class='duration'></div>
      <input type="text" id="scrub_bar" data-slider-value="0" data-slider-id="scrub_bar_slider" value="" data-slider-max="100" data-slider-step="0.1" data-slider-tooltip="hide" />
      <div id="current_info">&nbsp;</div> -->
      <div class="controls">
        <i id="repeat" class="fa fa-retweet fa-2x"></i>
        <span id="repeat_badge" class="badge hidden">1</span>
        <i id="prev" class="fa fa-fast-backward fa-2x"></i>
        <i id="playpause" class="fa fa-play fa-2x"></i>
        <i id="next" class="fa fa-fast-forward fa-2x"></i>
        <i id="shuffle" class="fa fa-random fa-2x"></i>
      </div>
    </div>
