<div id='control-panel' class='disable_selection' tabindex="1">
    <audio id='current-track'>
        <source id="current-src" type='audio/mpeg'>
    </audio>
    <div id="volume-controller">
        <i class="fa fa-volume-up"></i>
        <div id="volume-slider"></div>
        <!--        <i class="fa fa-volume-down"></i>-->
    </div>
    <div class="controls">
        <div class="icons">
            <i id="repeat" class="fa fa-retweet fa-2x"></i>
            <span id="repeat_badge" class="badge hidden">1</span>
        </div>
        <div class="icons">
            <i id="prev" class="fa fa-backward-step fa-2x"></i>
        </div>
        <div class="icons play-pause">
            <i id="play-pause" class="fa fa-play fa-2x"></i>
        </div>
        <div class="icons">
            <i id="next" class="fa fa-forward-step fa-2x"></i>
        </div>
        <div class="icons">
            <i id="shuffle" class="fa fa-random fa-2x"></i>
        </div>
    </div>
</div>
