<div id='control-panel' class='disable_selection' tabindex="1">
    <audio id='current-track'>
        <source id="current-src" type='audio/mpeg'>
    </audio>
    <div class="current-song-details">
        <div id="song-name">Surah Al fatiha</div>
        <div id="artist-name">Mishary Al afasi</div>
    </div>
    <div class="seekbar-controller">
        <div id="seek-slider"></div>
        <div class="controls">
            <div class="icons" title="Loop">
                <i id="repeat" class="fa fa-retweet fa-2x"></i>
                <span id="repeat_badge" class="badge hidden">1</span>
            </div>
            <div class="icons" title="Previous">
                <i id="prev" class="fa fa-backward-step fa-2x"></i>
            </div>
            <div class="icons play-pause" title="Play">
                <i id="play-pause" class="fa fa-play fa-2x"></i>
            </div>
            <div class="icons" title="Next">
                <i id="next" class="fa fa-forward-step fa-2x"></i>
            </div>
            <div class="icons" title="Shuffle">
                <i id="shuffle" class="fa fa-random fa-2x"></i>
            </div>
        </div>
    </div>
    <div id="volume-controller">
        <i class="fa fa-volume-up"></i>
        <div id="volume-slider"></div>
    </div>
</div>
