<div id='control-panel' class='disable_selection' tabindex="1">
    <audio id='current-track'>
        <source id="current-src" type='audio/mpeg'>
    </audio>
    <div class="controls">
        <div id="volume-controller">
            <i class="fa fa-volume-up"></i>
            <div id="volume-slider"></div>
            <i class="fa fa-volume-down"></i>
        </div>
        <i id="repeat" class="fa fa-retweet fa-2x"></i>
        <span id="repeat_badge" class="badge hidden">1</span>
        <i id="prev" class="fa fa-fast-backward fa-2x"></i>
        <i id="play-pause" class="fa fa-play fa-2x"></i>
        <i id="next" class="fa fa-fast-forward fa-2x"></i>
        <i id="shuffle" class="fa fa-random fa-2x"></i>
    </div>
</div>
