<link rel="stylesheet" type="text/css" href="stylesheets/header.css">

<div class="header" style="display: flex; flex-direction: row;">
    <div
    <% if (options.hamburger) { %>
        class="hamburger"
    <% } else{ %>
        class="hamburger hidden"
            <% } %>
    >
        <div style="user-select: none; user-focus: none">
            &#9776;
        </div>
    </div>

    <!--    <div style="width: 15px"></div>-->

    <div class="home-route">
        <a href="/">
            <div class="logo">
                <img src="images/logo.png" alt="Tilawah">
            </div>
        </a>
    </div>
    <div class="others" style="width: 73%;"></div>
    <div
    <% if (options.loginRegister) { %>
        class="login-register"
    <% } else { %>
        class="login-register hidden"
            <% } %>
    >
        <button type="button" class="login-button">Login</button>
        <button type="button" class="register-button">Register</button>
    </div>


    <div
    <% if (!options.loginRegister) { %>
        class="profile-panel"
    <% } else { %>
        class="profile-panel hidden"
            <% } %>
    >
        <button id="profile-button">
            <% if(user){ %>
                <%= user.name %>
            <% } %>
        </button>
        <div class="profile-menu hidden" style="position: absolute">
            <ul style="list-style: none">
                <li>
                    <a style="text-decoration: none; color: black;" href="/profile">
                        <div class="profile-menu-item">
                            Profile
                        </div>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none; color: black;" href="">
                        <div class="profile-menu-item">
                            Settings
                        </div>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none; color: black;" href="/logout">
                        <div class="profile-menu-item">
                            Logout
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="javascripts/header.js" ></script>