<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tilawah</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
<div style="position: absolute; top: 0; left: 0; width: 100%; display: flex; flex-direction: column">
    <%- include('header.ejs') %>
    <div>
        lorem;sajfamdnesvcokils;hdfv9w8peahfviosdnvclkxzdnvxzlkn voiwrjhesv
        swgof;ivhjderogivns
    </div>
</div>
</body>
</html>
