
<!-- <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center"> -->
    <div class="login-container">
        <div class="alert hidden">
            <div class="close">
                &times;
            </div>
            <!--        Putting the text in <p> tag to change the text dynamically by JS.
                        Otherwise, The 'Close' icon vanishes
            -->
            <p>Wrong Credentials!</p>
        </div>
        <form class="login-form" action="/login" method="post" autocomplete="off">
            <div class="login-form-element">
                <text>Email</text>
                <input class="login-input" type="text" id="login-username" name="email" required>
                <label for="login-username" class="error"></label>
            </div>
            <div class="login-form-element">
                <text>
                    Password
                    <tspan class="forgot-password">
                        forgot password?
                    </tspan>
                </text>
                <input class="login-input" type="password" id="login-password" name="password" required>
                <label for="login-password" class="error"></label>
            </div>
            <div class="login-form-element submit-button-container">
                <input type="submit" id="login-submit" value="Login">
            </div>
        </form>
        <form class="forgot-password-form email hidden" action="/forgot-mail" method="post" autocomplete="on">
            <div class="email">
                <text>Enter Your Email</text>
                <input class="mail-input" type="text" id="forgot-mail-input" name="email" required>
                <label for="forgot-mail-input" class="error"></label>
            </div>
            <div class="submit-button-container">
                <input type="submit" id="email-submit" value="Send OTP">
            </div>
        </form>
        <form class="forgot-password-form otp hidden" action="/forgot-otp" method="post" autocomplete="off">
            <div class="otp">
                <text>Enter The OTP</text>
                <input class="otp-input" type="text" id="forgot-otp-input" name="otp" required>
                <label for="forgot-otp-input" class="error"></label>
            </div>
            <div class="submit-button-container">
                <input type="submit" id="otp-submit" value="Verify">
            </div>
        </form>
        <form class="forgot-password-form recover-password hidden" action="/reset-password" method="post"
              autocomplete="off">
            <h3>Reset your password</h3>
            <div class="register-form-element">
                <text>Password</text>
                <input class="reset-password-input" type="password" id="password" name="password"
                       required>
                <label for="password" class="error"></label>
            </div>
            <div class="register-form-element">
                <text>Confirm Password</text>
                <input class="reset-password-input" type="password" id="confirm-password" name="confirm-password"
                       required>
                <label for="confirm-password" class="error"></label>
            </div>
            <div class="submit-button-container">
                <input type="submit" id="password-submit" value="Done">
            </div>
        </form>
    </div>
<!-- </div> -->
<script src="/javascripts/login.js"></script>

