<div id="overlay-in-new-playlist" class="modal-overlay"></div>
<div id="new-playlist" class="modal">
    <div id="new-playlist-content">
        <h4>Playlist</h4>
        <form id="new-playlist-form" name="new-playlist-form" action="/new-playlist" method="POST">
            <div class="new-playlist-input">
                <div>
                    <input type="text" id="playlist-name" name="playlistName" placeholder= "Give a Name" required>
                </div>
            </div>
            <div class="submit">
                <button type="submit" id="new-playlist-submit-button" name="newPlaylistSubmitButton">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>