<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilawah | register</title>

    <%- include('necessary-imports.ejs') %>
    <%- include('stylesheets.ejs') %>

</head>
<body>
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center">
    <%- include('header.ejs') %>
    <div class="alert hidden">
        <div class="close">
            &times;
        </div>
        <p></p>  <!--        putting the text in <p> tag to change the text dynamically by JS.
                    otherwise, The 'Close' icon vanishes
                    -->
    </div>
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center">
        <div class="register-container">
            <form class="register email" action="/register-email" method="post" autocomplete="on">
                <div class="register-form-element">
                    <text>Enter your email</text>
                    <input class="register-input" type="text" id="register-email" name="email" required>
                    <label for="register-email" class="error"></label>
                </div>
                <div class="register-form-element submit-button-container">
                    <input type="submit" id="register-submit" value="Send OTP">
                </div>
            </form>
            <form class="register otp hidden" action="/register-otp" method="post" autocomplete="off">
                <div class="otp">
                    <text>Enter The OTP</text>
                    <input class="otp-input" type="text" id="register-otp-input" name="otp" required>
                    <label for="register-otp-input" class="error"></label>
                </div>
                <div class="submit-button-container">
                    <input type="submit" id="otp-submit" value="Verify">
                </div>
            </form>
            <form class="register password hidden" action="/register-complete" method="post" autocomplete="off">
                <div class="register-form-element">
                    <text>Your Name</text>
                    <input class="register-input" type="text" id="register-name" name="name" placeholder="e.g. Jon Doe" required>
                    <label for="register-name" class="error"></label>
                </div>
                <div class="register-form-element">
                    <text>Password</text>
                    <input class="register-input" type="password" id="register-password" name="password" required>
                    <label for="register-password" class="error"></label>
                </div>
                <div class="register-form-element">
                    <text>Confirm Password</text>
                    <input class="register-input" type="password" id="confirm-password" name="confirm-password" required>
                    <label for="confirm-password" class="error"></label>
                </div>
                <div class="submit-button-container">
                    <input type="submit" id="password-submit" value="Done">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="javascripts/register.js"></script>
</body>
</html>