<select name="category" id="category">
    <option value="Audio" selected>Title</option>
    <option value="Creator">Creator</option>
    <option value="Collection">Collection</option>
  </select>
  
  