<link rel="stylesheet" type="text/css" href="stylesheets/sidebar.css">

<div class="sidebar">
    <ul>
        <li>
            <a href="">
                Home
            </a>
        </li>
    </ul>
</div>