<div class="sidebar close">
    <div class="sidebar-content">
        <div class="main-menu">
            <ul>
                <li class="sidebar-home">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="playlist">
            <ul>
                <li class="sidebar-playlist">
                    <a>
                        <i class="fas fa-list"></i>
                        <span id="my-playlists">My Playlists</span>
                        <% if (user) { %>
                            <div class="new-playlist" title="Create Playlist">
                                <i class="fa-thin fa-plus"></i>
                            </div>
                        <% } %>
                    </a>

                    <% if(user){ %>
                        <div class="playlist-menu">
                            <ul class="playlist-menu-items">
                                <% playlists.forEach(element=> { %>
                                    <li class="item" id=<%= element.id %>><%= element.name %></li>
                                <% }) %>
                            </ul>
                        </div>
                    <% } else { %>
                        <div class="login-to-view-playlist-menu">
                            <div class="message-to-login">
                                <text>
                                    If you have an account, login to view your library
                                </text>
                                <button type="button" class="sidebar-login-button">Login</button>
                            </div>
                        </div>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include("new-playlist-modal.ejs") %>
<script src="/javascripts/sidebar.js"></script>
<script src="/javascripts/playlist.js"></script>
