<div class="sidebar close">
    <div class="sidebar-content">
        <div class="main-menu">
            <ul>
                <li class="sidebar-home">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="playlist">
            <ul>
                <li class="sidebar-playlist">
                    <a>
                        <i class="fas fa-list"></i>
                        <span id="my-playlists">My Playlists</span>
                        <div class="new-playlist">
                            <i class="fa-thin fa-plus"></i>                 
                        </div>
                    </a>
                    
                    <div class="playlist-menu">
                        <ul>
                            <% if(user != null){ %>
                                <% playlists.forEach(element=> { %>
                                    <li class="item"><span><%=element.name %></span></li>
                                <% }) %>
                            <%} %>
                        </ul>
                    </div>                    
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include("new-playlist-modal.ejs") %>
<script src="/javascripts/sidebar.js"></script>
<script src="/javascripts/playlist.js"></script>
