<div class="sidebar close">
    <div class="sidebar-content">
        <ul>
            <li class="sidebar-home">
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
        </ul>
    </div>
</div>