<div class="sidebar close">
    <div class="sidebar-content">
        <div class="main-menu">
            <ul>
                <li class="sidebar-home">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="playlist">
            <ul>
                <li class="sidebar-playlist">
                    <a>
                        <i class="fas fa-list"></i>
                        <span id="my-playlists">My Playlists</span>
                    </a>
                </li>
            </ul>
            <div class="playlist-nav">
                <nav class="playlist-nav-menu">
                    <ul>
                        <li class="item"><span> Item 1</span></li>
                        <li class="item"><span>Item 2</span></li> 
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>