
.audio-table {
    margin: 10px auto;
    border-collapse: collapse;
    width: 95%;
}

.audio-table-container {
    align-items: center;
    background-color: transparent;
    /*width: calc(100% - 50px);*/
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 1px 6px -1px #9b9a9a;
}

::-webkit-scrollbar  {
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb  {
    background-color: #d0cfcf;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece:start {
    margin-top: 5px;
}

::-webkit-scrollbar-track-piece:end {
    margin-bottom: 5px;
}

.audio-table th, td {
    padding: 5px;
    user-select: none;
}

.audio-table .th-creator, .th-title {
    text-align: left;
}

.audio-table .audio-row {
    font-family: "Segoe UI Black", sans-serif;
}

.audio-table tr {
    line-height: 50px;
    border-style: solid;
    border-color: transparent;
}

.audio-table .title, .creator, .collection {
    width: 20%;
}

.audio-table .title {
    font-size: 17px;
    font-weight: bold;
    color: #3e3d3d;
}

.audio-table .row-num, .length {
    text-align: center;
}

.audio-table .row-num {
    width: 3%;
}

.audio-table .length {
    width: 8%;
}

.audio-table .audio-row:hover {
    background-color: #dbe4f0;
}

.audio-table .audio-row.selected {
    background-color: #9bdeaa;
    color: #0d3d0d;
}

.audio-context-menu li {
    cursor: pointer;
}

.audio-context-menu li:hover {
    background-color: #add8e6;
    color: black;
}

.three-dots{
    width: 1%;
    cursor: pointer;
}

.audio-context-menu .my-playlists:hover{
    background-color: white;
}