#control-panel {
    position:fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #ceddffe8;
    box-shadow: 0 1px 6px -1px #9b9a9a;
    padding-top: 2px;
    /* margin: 0 auto; */
}


.disable_selection {
    user-select: none;
}

/*** control-panel items ***/
.controls {
    width: 310px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.controls .icons:hover {
    background-color: #bebcbc;
}

.controls .icons {
    --icons-size: 52px;
    width: var(--icons-size);
    height: var(--icons-size);;
    border-radius: var(--icons-size);

    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .fa-play{
    width: 20px;
}

#repeat_badge {
    position: absolute;
    margin-left: -20px;
    margin-top: 1px;
    background-color: transparent;
}


#volume-controller {
	width: 250px;
	height: 50px;
	position: absolute;
    top: 25px;
    right: 10%;
    margin: 0 auto;
	/* align-items: center; */

}
#volume-controller i {
    position: absolute;
    color: #666;
    margin-top: -10px;
}

#volume-controller i.fa-volume-down {
    right: -15px;
    padding: 5px 10px;
}

#volume-controller i.fa-volume-up {
    left: -15px;
    padding: 5px 10px;
}

#volume-slider {
    position: absolute;
    left: 25px;
    right: 25px;
    height: 5px;
    width: 100px;
    background: #938e8e;
    border-radius: 15px;
    cursor: pointer;
}
	
#volume-slider .ui-slider-range-min {
    height: 5px;
    width: 200px;
    position: absolute;
    background: rgb(91, 93, 91);
    border: none;
    border-radius: 10px;
    outline: none;
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(44, 212, 100);
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}
.seekbar-controller{
    width: 100%;
}
#seek-slider{
    background: #938e8e;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}
#seek-slider .ui-slider-range-min {
    height: 5px;
    position: absolute;
    background: rgb(91, 93, 91);
    border: none;
    border-radius: 10px;
    outline: none;
}
