#control-panel {
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #ceddffe8;
    box-shadow: 0 1px 6px -1px #9b9a9a;
    padding-top: 2px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
}


.disable_selection {
    user-select: none;
}

/*** control-panel items ***/
.controls {
    width: 100%;
    height: 100%;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.controls .icons:hover {
    background-color: #bdbdff;
}

.controls .icons {
    --icons-size: 45px;
    width: var(--icons-size);
    height: var(--icons-size);;
    border-radius: var(--icons-size);

    font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/********************************************************/

/*.controls .icons[title]::after {*/
/*    position: absolute;*/
/*    top : 200px;*/
/*}*/

:root {
    --controls-color: rgba(117, 72, 211, 0.91);
}

.controls .icons i {
    color: var(--controls-color);
}

/*.controls .fa-play {*/
/*    width: 20px;*/
/*}*/

#repeat-badge {
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: transparent;
}

.icons.shuffle i{
    color:rgb(133, 135, 133);
}

.icons.shuffle.active i{
    color:var(--controls-color);
}

#volume-controller {
    /* width: 250px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}

#volume-controller i {
    /* position: absolute; */
    color: #666;
    margin-top: -10px;
}

#volume-controller i.fa-volume-down {
    right: -15px;
    padding: 5px 10px;
}

#volume-controller i.fa-volume-up {
    left: -15px;
    padding: 5px 10px;
}

#volume-slider {
    height: 5px;
    width: 100px;
    background: #938e8e;
    border-radius: 15px;
    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#volume-slider .ui-slider-range-min {
    height: 5px;
    width: 200px;
    /* position: absolute; */
    background: rgb(91, 93, 91);
    border: none;
    border-radius: 10px;
    outline: none;
}

#volume-slider .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: rgb(44, 212, 100);
    position: absolute;
    cursor: pointer;
    outline: none;
    margin-left: -8px;
}

.seekbar-controller {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-progress {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.audio-progress text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#seek-slider {
    background: #c0bfbf;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    position: relative;

    margin: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#seek-slider .ui-slider-range-min {
    height: 4px;
    background: var(--controls-color);
    border: none;
    border-radius: 10px;
    outline: none;
    position: relative;
}

#seek-slider .ui-slider-handle {
    --slider-handle: 12px;
    width: var(--slider-handle);
    height: var(--slider-handle);
    border-radius: var(--slider-handle);
    background: var(--controls-color);
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-left: -6px;
}

.control-panel-tooltip {
    background-color: #4c4c4c;
    position: absolute;
    padding: 5px 7px;
    border-radius: 5px;
    color: whitesmoke;
    transition: none;
}

.current-audio-details {
    width: 400px;
    margin-left: 40px;
}

.current-audio-details #name {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.current-audio-details #creator {
    font-size: 11px;
    height: 100%;
    width: 100%;
}