@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid #949393;
    box-shadow: 0 -3px 15px 1px #aba9a9;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    gap: 25px;
    z-index: 2;
}

.header .tilawah-icon a {
    font-size: 30px;
    text-decoration: none;
    color: #444343;
}

.header .tilawah-icon a .logo {
    border: thin solid #cbcaca;
    background-color: #f1f0f0;
    border-radius: 50px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header .tilawah-icon a .logo img {
    width: 70%;
    height: 70%;
    user-focus: none;
    user-select: none;
}

.hamburger {
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-content: center;
    font-size: 25px;
    padding: 6px 6px 6px 6px;
    border-radius: 25px;
    display: flex;

    /*Place it in center*/
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hamburger.hidden {
    visibility: hidden;
}

.hamburger:hover {
    background-color: #e1e1e1;
}

.hamburger:hover:active {
    box-shadow: none;
    scale: .95;
}


.login-register {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.login-register.hidden {
    display: none;
}

.login-register button {
    padding: 10px 15px 10px 15px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.login-register .register-button {
    background-color: lightblue;
}

.login-register .register-button:hover {
    box-shadow: 0 0 6px 1px rgba(173, 216, 230, 0.65);
}

.login-register .login-button {
    background-color: lightgreen;
}

.login-register .login-button:hover {
    box-shadow: 0 0 6px 1px rgba(144, 238, 144, 0.65);
}

.login-register button:hover:active {
    box-shadow: none;
}

.profile-panel {
    display: flex;
    align-items: center;
}

:root{
    --profile-button-translate-from-right: 75px;
}

.profile-panel .profile-button {
    --user-logo-length: 40px;
    width: var(--user-logo-length);
    height: var(--user-logo-length);
    border-radius: var(--user-logo-length);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: var(--profile-button-translate-from-right);
}

.profile-panel .profile-button:hover {
    box-shadow: 0 0 10px 3px #d0cdcc;
}

.profile-panel .profile-button.pressed {
    background-color: #888686;
}

.profile-panel .profile-menu {
    position: absolute;
    right: var(--profile-button-translate-from-right);
    top: 45px;
    background-color: whitesmoke;
    width: 300px;
    height: auto;
    margin-top: 10px;
    /*padding: 10px 0 10px 0;*/
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #d5d5d5;
}

.profile-panel .profile-menu ul {
    list-style: none;
    color: #bdb9fa;
    margin: 10px auto;
    padding: 0 20px 0 20px;
}

.profile-panel .profile-menu .name-email {
    border: thin solid #dad7d7;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px #e3e2e2;
    padding: 8px 8px 8px 8px;
    width: 90%;
    height: 90%;
    font-size: 12px;
    font-family: "Times New Roman", sans-serif;
    text-overflow: ellipsis;
    text-align: center;
    margin: 10px auto;
    z-index: 3;
    background-color: white;
}

.profile-panel .profile-menu .name-email div {
    pointer-events: none;
}

.profile-panel .profile-menu-item {
    cursor: pointer;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
}

.profile-panel .profile-menu-item:hover {
    background-color: #ded1f8;
}

.profile-panel.hidden {
    display: none;
}

.profile-panel .profile-menu.hidden {
    display: none;
}