.register-container {
    width: 420px;
    height: 70%;
    min-width: 420px;
    min-height: 60%;
    background-color: #d8dedb;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgba(229, 227, 227, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    align-items: center;
}

.register-container form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-container form div.submit-button-container {
    display: flex;
    align-items: center;
}

.register-container form div text {
    font-size: 20px;
    font-weight: bold;
}

.register-container form div input[type="text"], input[type="password"] {
    height: 30px;
    border: thin solid #949393;
    border-radius: 6px;
    color: black;
    background-color: whitesmoke;
}

.register-container form div input[type="submit"] {
    height: 35px;
    width: 75%;
    border: none;
    border-radius: 6px;
    background-color: #0b885ae8;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
}

.register-container form div input[type="submit"]:hover {
    box-shadow: 0 0 6px 1px rgba(255, 252, 255, 0.60);
}

.register-container form div input[id="register-submit"] {
    margin-top: 30px;
}

.register-container form div tspan {
    font-size: small;
    font-weight: bold;
    float: right;
    color: midnightblue;
    cursor: pointer;
    align-content: center;
}


.register-container form div input[type="submit"]:hover:active {
    box-shadow: none;
}

.error {
    font-size: small;
    color: red;
}

.alert {
    display: block;
    transform: translateY(40px);
    background: #f55252;
    padding: 7px 50px 7px 50px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

.alert .close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert .close:hover {
    background-color: #ec7f7f;
}

.alert.hidden {
    visibility: hidden;
}

.register-container form.hidden {
    display: none;
}

/*.register-container .email, .otp, .password {*/
/*    transform: translateY(0);*/
/*    background-color: red;*/
/*    transition: .5s ease-in-out;*/
/*}*/

form.no-events {
    pointer-events: none;
    opacity: .6;
}