.sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 22%;
    height: 100%;
    padding: 0 1.7rem;
    background-color: #daf2eb;
    border-radius: 10px;
    box-shadow: 0 1px 6px -1px #9b9a9a;
    margin-left: 10px;
}

.sidebar ul {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
    user-select: none;
}

.sidebar ul li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.sidebar ul li.sidebar-home:hover {
    background-color: #d3d3d3;
}

.sidebar ul li.item:hover {
    background-color: #d3d3d3;
}

.sidebar ul li a {
    color: #383838;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

/*.sidebar.close{*/
/*    width: 7%;*/
/*}*/

.sidebar.hidden {
    display: none;
}


.sidebar ul li a i {
    font-size: 1.2rem;
}

.sidebar ul li a span {
    overflow: hidden;
}

.playlist-menu {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.fa-thin.fa-plus {
    scale: 1.2;
}

.new-playlist{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
}

.new-playlist:hover {
    background-color: #e3e3e3;
}

.sidebar-tooltip {
    background-color: #4c4c4c;
    position: absolute;
    border-radius: 5px;
    color: whitesmoke;
    transition: none;
    font-size: 12px;
    min-width: 50px;
    padding: 5px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*
If the user is not logged in, He will not be able to view his/her playlists.
So, a message will appear there to tell the user to login.
*/

.login-to-view-playlist-menu {
    height: 350px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.message-to-login {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: thin dashed green;

    padding: 15px 15px;
}

.message-to-login text{
    font-size: 13px;
    margin-bottom: 10px;
    text-align: justify;
}

.message-to-login .sidebar-login-button {
    padding: 10px 15px 10px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #0a895d;
    color: whitesmoke;
}

.message-to-login .sidebar-login-button:hover {
    box-shadow: 0 0 6px 1px rgba(144, 238, 144, 0.65);
}

.playlist-menu-items .item{
    font-weight: 600;
    color: #03432d;
    background-color: #cbefe2;
    border-style: solid;
    border-width: 1px;
    border-color: #b2ddce;
    margin: 5px;
}

.playlist-menu{
    margin-top: 20px;
}

.playlist-menu-items .item:hover{
    background-color: #add8e69d !important;
}