.sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(147, 204, 168);
    width: 240px;
    text-align: left;
}

.sidebar.hidden {
    display: none;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li {
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    width: 90%;
    height: auto;
    margin-top: 10px;
}

.sidebar ul li:hover {
    background-color: #d3d3d3;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.sidebar.close{
    width: 50px;
}