.sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18%;
    height: 100%;
    padding: 0 1.7rem;
    background-color: #e2f9fa;
    border-radius: 10px;
    box-shadow: 0 1px 6px -1px #9b9a9a;
}
/* 
.sidebar.hidden {
    display: none;
} */

.sidebar ul {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #d3d3d3;
}

.sidebar ul li a {
    color: #383838;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sidebar.close{
    width: 7%;
}


.sidebar ul li a i{
    font-size: 1.2rem;
}

.sidebar ul li a span{
    overflow: hidden;
}